@import "./reset";

#wrap{
  position: relative;
  height: 100%;
  //头部
  #header{
    //background: pink;
    position: relative;
    height: 100%;
    .header-min{
      width: 1100px;
      height: 80px;
      margin: 0 auto;
      //logo
      .logo{
        float: left;
        margin-top: 15px;
      }
      //导航
      .nav{
        float: right;
        margin-top: 50px;
        li{
          position: relative;
          float: left;
          margin-left: 40px;
          color: #009EE0;
          &:hover{
            .down{
              width: 100%;
            }
          }
          &.active{
            .down{
              width: 100%;
            }
          }
          .down{
            position: absolute;
            top: 0;
            left: 0px;
            width:0;
            overflow: hidden;
            transition: width 0.5s;
            color: #000;
          }
        }
      }
    //  小箭头
      .arrows{
        width: 21px;
        height: 11px;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 80px;
        left:50%;
        transition: left 0.5s;
        z-index: 5;
      }
    }
  }

//内容区
  #content{
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: deeppink;
    overflow: hidden;
    >ul{
      position: absolute;
      top:0;
      width:100%;
      height: 500%;
      transition: top 1s;
      //will-change: top;
      >li{
        position: relative;
        width:100%;
        height: 20%;
        >section{
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 1100px;
          height: 520px;
          background-color: deepskyblue;
        }
      }
    }
  }



}
